body {
    font-size: 12px;
    font-family: Arial, sans-serif;
    color: #383838;

}

.board {
        background-color: #fffff2;
    height: 100%;
    width: 860px;
    position: fixed;
    display: inline-block;
    margin: 0px 25%;
    border: 1px solid lightblue;
        border-radius: 5px;
}

.memoContainer {
    text-align: center;
    width: 150px;
    height: 150px;
    background-color: #fffdbc;
    margin: 10px;
    float: left;
    position: relative;
        border-radius: 5px;
    border: 1px solid lightblue;
}

.addMemo {
    font-size: 35px;
    font-weight: bold;
    color: white;
    margin: 10px;
    cursor: pointer;
    background: green;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.saveMemo {
    text-align: left;
    background-color: #fffdbc;
    margin: 10px;
    height: 150px;
    width: 425px;
        border: 1px solid lightblue;
        border-radius: 5px;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

button {
    color: white;
    font-weight: bold;
    padding: 5px;
    margin: 2px;
}

.button-primary {
    background-color: #0084af;
    width: 75px;
    height: 25px;
    line-height: 12px;
    margin-top: 6px;
}

.button-success {
    background-color: green;
    width: 75px;
    height: 25px;
    line-height: 12px;
    margin-top: 6px;
}

.button-danger {
    background-color: red;
}

.danger {
    color: red;
    font-weight: bold;
}
.idea-title {
    width: 400px;
    margin: 10px;
    height: 20px;
}

.idea-body {
    width: 400px;
    margin: 0px 10px;
    height: 55px;
}

.btn-add-idea {
    text-align: right;
    margin-right: 10px;
}

.tile {
    margin: 5px;
    text-align: left;
    word-wrap: break-word;
}

.tile-title {
    font-weight: bold;
    background-color: #fffb76;
}

.tile-body{
    min-height: 85px;
}

.deleteMemo {
    background-image: url('../images/remove-icon.png');
    float: right;
    height: 15px;
    width: 15px;
    margin: 4px;
    background-repeat: no-repeat;
}

.editTitle {
    width: 134px;
    height: 20px;
    margin: 4px;
}

.editBody {
    width: 134px;
    height: 65px;
}

.editTitle:focus,
.editBody:focus {
    border: 2px solid lightgrey;
}

.textarea:hover,
textarea:focus {
    outline: 0px !important;
    -webkit-appearance: none;
}

.sort {
    font-size: 14px;
    margin: 10px;
    font-weight: bold;
    color: black;
}

.heading{
        text-align: center;
    font-size: 40px;
    color: black;
    background-color: #fff57b;
        border-radius: 5px;
}

select {
    padding:6px;
    margin: 5px;
    height: 25px;
    width: 100px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

label {position:relative}
label:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}

.msg-success{
    height: 40px;
    width: 98%;
    background: #daffda;
    border: 1px solid green;
    font-size: 15px;
    margin: 8px;
    text-align: left;
    line-height: 38px;
    text-indent: 6px;
    border-radius: 5px;
}
